.header {
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;

  @media only screen and (max-width: 50em) {
    height: 6rem;
    padding: 1rem;
    margin-bottom: 2.5rem;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: max-content;
  }

  .logo {
    width: auto;
  }

  .title {
    width: max-content;
    font-size: 2.8rem;
    margin-left: 1rem;

    @media only screen and (max-width: 50em) {
      display: none;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media only screen and (max-width: 50em) {
      width: 80%;
    }

    .option {
      padding: 1rem 1.5rem;
      cursor: pointer;
      font-size: 1.92rem;
    }
  }
}
