.custom-button {
  min-width: 1.65rem;
  width: auto;
  height: 5rem;
  letter-spacing: 0.5px;
  line-height: 5rem;
  padding: 0 3.5rem 0 3.5rem;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
  margin: 0 auto;

  @media only screen and (max-width: 50em) {
    width: 100%;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: #fff;

    @media only screen and (max-width: 50em) {
      margin: 2rem 0;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }

    &.google-sign-in {
      &:hover {
        background-color: #357ae8;
        border: none;
      }
    }
  }

  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: black;
        color: white;
        border: none;
      }
    }
  }
}
