.collection-page {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 3.8rem;
    margin: 0 auto 3rem;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    @media only screen and (max-width: 50em) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    & .collection-item {
      margin-bottom: 3rem;
    }
  }
}
